* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(6, 9, 26);
    background-size: 100%; 
    height: 100%;   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    
}

#container {
    border: 8px groove rgb(84, 84, 235);    
    margin-top: 10%;    
    padding: 20px;
    background-color: rgba(231, 157, 96, 0.911);
    width: 60%;   
    /* line-height: 30px; */
}

#pic{
    margin: 40px 50px 70px 12px ;       
    float: left;
    opacity: 0.8;    
}

img{
    border-radius: 10px;
}

img:hover{
    /* background-image:url("https://picsum.photos/id/598/600/400"); */
    border: 3px solid brown;
}
#title{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;    
}

#article{
    padding: 10px 0;
}

#poem {
    font-family: 'Cookie', cursive;
    font-size: 20pt;
    text-shadow: 7px 10px 5px black;    
    word-spacing: 2px; 
    padding-top: 10px; 
    color: cornsilk;
}

